<div id="navigation">
  <h1>Guidelines</h1>
  <div style="height: 200px;width: 200px;">
    <ul id="frontpagenav" class="nav sidenav">
      <li><a href="{{ '/mvvm/' | prepend: site.baseurl }}">MVVM</a>
        <ul class="nav">
          <li><a href="{{ '/mvvm/introduction/' | prepend: site.baseurl }}">What is MVVM?</a></li>
          <li><a href="{{ '/mvvm/catalog/' | prepend: site.baseurl }}">Catalog</a></li>
          <li><a href="{{ '/mvvm/code-example/' | prepend: site.baseurl }}">Code examples</a></li>
        </ul>
      <li><a href="{{ '/mvp/' | prepend: site.baseurl }}">MVP</a>
        <ul class="nav">
          <li><a href="{{ '/mvp/introduction/' | prepend: site.baseurl }}">What is MVP?</a></li>
          <li><a href="{{ '/mvp/catalog/' | prepend: site.baseurl }}">Catalog</a></li>
          <li><a href="{{ '/mvp/code-example/' | prepend: site.baseurl }}">Code examples</a></li>
        </ul>
      <li><a href="{{ '/clean/' | prepend: site.baseurl }}">Clean</a>
        <ul class="nav">
          <li><a href="{{ '/clean/introduction/' | prepend: site.baseurl }}">What is a clean architecture?</a></li>
          <li><a href="{{ '/clean/catalog/' | prepend: site.baseurl }}">Catalog</a></li>
          <li><a href="{{ '/clean/code-example/' | prepend: site.baseurl }}">Code examples</a></li>
        </ul>
      <li><a href="{{ '/generic/' | prepend: site.baseurl }}">Generic</a>
        <ul class="nav">
          <li><a href="{{ '/generic/catalog/' | prepend: site.baseurl }}">Catalog</a></li>
          <li><a href="{{ '/generic/code-example/' | prepend: site.baseurl }}">Code examples</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

