<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">    
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
        </li>
        <li>
          <a href="{{ '/generic/generic-1/' | prepend: site.baseurl }}">Generic</a>
        </li>
        <li>
          <a href="{{ '/mvvm/mvvm-1/' | prepend: site.baseurl }}">MVVM</a>
        </li>
        <li>
          <a href="{{ '/mvp/mvp-1/' | prepend: site.baseurl }}">MVP</a>
        </li>
        <li>
          <a href="{{ '/clean/clean-1/' | prepend: site.baseurl }}">Clean</a>
        </li>
        <li>
          <a href="{{ '/credits/' | prepend: site.baseurl }}">Credits</a>
        </li>
      </ul>
    </nav>
  </div>
</header>