---
layout: default
---

 <div class="container docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar hidden-print" role="complementary">
            <div id="navigation">
              <h1>Guidelines</h1>
              <ul class="nav sidenav">
                {% for category in site.categories %}
                  {% capture category_name %}{{ category | first }}{% endcapture %}
                <li><a href="#category_{{ category_name }}">{{ category_name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9" role="main">
          <div class="panel docs-content">
            <div class="wrapper">
              <div class="home">
                {% for category in site.categories %}
                  {% capture category_name %}{{ category | first }}{% endcapture %}
                  <h2 id="category_{{category_name}}">{{category_name}}</h2>
                  {% for post in site.categories[category_name] %}
                    <ol class="breadcrumb">
                    <li><span>Guideline {{ post.guideline_id}}</span> &raquo; <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                    </ol>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
